.account-popup-footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.2rem 0.8rem 0.8rem 0.8rem;
    ;
    /* background-color: aqua; */
    justify-content: center;
}

.footer-top-span,
.footer-bottom {
    font-size: 12px;
    padding: 0 0.3rem;
    color: #8a8d91;
    cursor: pointer;
}

.footer-bottom {
    cursor: text;
}

.footer-top-span:hover {
    text-decoration: underline;
}