/* .accordion-container {
    display: flex;
    background-color: aqua;
}

.accordion-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-btn-icn-container {
    display: flex;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}

.accordion-btn-icn-container img {
    width: 16px;
} */