.btn-icn-name-container {
    display: flex;
    width: 98%;
    align-items: center;
    padding: 1rem 0;
    border-radius: 8px;
    justify-content: center;
}

.btn-hover:hover {
    background-color: #f0f2f5;
}

.btn-icn-container {
    display: flex;
    margin-right: 0.4rem;
}

.carousel-btn-icn {
    width: 22px;
    height: 22px;
}

.btn-icn-name-container span {
    font-size: 0.8rem;
    font-weight: 500;
}