.gender-radio {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.female,
.male,
.custom {
    display: flex;
    justify-content: space-between;
    width: 32%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #d4d7db;
}

.gender-label {
    padding-right: 37%;
}